@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layoutmaterial.cshtml";
}

@section css{

    <style type="text/css">
        .taped .controller {
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            width:100%;
            height:100%;
            right: 60px;
            top:0;
            transition: all 0.3s ease 0s;
            
        }
        .modal .card {
            margin:0;
        }
        .modal .card-action{text-align:right;}
     .collection{    padding-bottom: 20px;}
     .collection .fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 20px 7% 0;
}
     .collection .fixed-action-btn.horizontal ul {right:0;}
     .collection .circle{border-radius:0;}
   #collectionList  .orderedCounter.secondary-content{    right: -6px;}

    </style>
}

<ul id="slide-out" class="side-nav fixed section table-of-contents">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#structure">Structure</a></li>
    <li><a href="#initialization">Intialization</a></li>
    <li><a href="#initialize">Intializatie</a></li>
</ul>

<ul class="collection" id="collectionList">
    <li class="collection-item avatar section scrollspy" id="introduction">
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> 
    <span class="title" > Title
   </span > <p > First Line <br > Second Line
        </p >

    </li > <li class="collection-item avatar">
               <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title" > Title</span > <p > First Line <br > Second Line
        </p >
               <a href="#!" class="secondary-content">
                   <i class="material-icons"> grade</i>
               </a>
    </li > <li class="collection-item avatar">
               <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title" > Title</span > <p > First Line <br > Second Line
        </p > 
    </li > <li class="collection-item avatar">
        <i class="material-icons circle red"> play_arrow</i > <span class="title" > Title</span > <p > First Line <br > Second Line
        </p >
    </li >
    <li class="collection-item avatar section scrollspy" id="structure" >
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title"> structurestructurestructure</span> <p>
            First Line <br> Second Line
        </p>
        <a href="#!" class="secondary-content">
            <i class="material-icons"> grade</i>
        </a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle"> folder</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle green"> insert_chart</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red"> play_arrow</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>
    </li>
    <li class="collection-item avatar">
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>
        <a href="#!" class="">
            <i class="material-icons"> grade</i>
        </a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle"> folder</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar section scrollspy" id="initialization">
        <i class="material-icons circle green"> insert_chart</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red"> play_arrow</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>
    </li>
    <li class="collection-item avatar">
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>

    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle"> folder</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle green"> insert_chart</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red"> play_arrow</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> 
    </li>
    <li class="collection-item avatar">
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle"> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p>

    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle"> folder</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> <a href="#!" class="secondary-content">
            <i class="material-icons"> grade</i>
        </a>
    </li>
    <li class="collection-item avatar section scrollspy"  id="initialize" >
        <i class="material-icons circle green"> insert_chart</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> <a href="#!" class="secondary-content">
            <i class="material-icons"> grade</i>
        </a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red"> play_arrow</i> <span class="title"> Title</span> <p>
            First Line <br> Second Line
        </p> <a href="#!" class="secondary-content">
            <i class="material-icons"> grade</i>
        </a>
    </li>
</ul >

<div id="controllerTemplateDom" class="hidden">

    <div class="fixed-action-btn horizontal controller">
        <ul>
            <li>
                <a class="btn-floating green btnRemoveFromOrder">
                    <i class="material-icons">remove</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue darken-1 modal-trigger" href="#modal1">
                    <i class="material-icons"> business</i>
                </a>
            </li>

            <li>
                <a class="btn-floating red btnAddToOrder">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="orderedCounter secondary-content">
        <span class="counterText new badge">0</span>
        <input type="hidden" class="productionCounter" value="0"/>
        <input type="hidden" class="pIdAndCount" name="pIdAndCount" value=""/>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal ">
     
                <div class="card">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <div class="yellow-text lighten-1">
                            <i class="material-icons small"> star</i> <i class="material-icons small"> star</i>
                             <i class="material-icons small"> star</i> <i class="material-icons small"> star</i>
                        </div>
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a  class ="modal-action modal-close  waves-effect waves-green btn-flat" href="#">Close</a>
                    </div>
                </div>
        
       
    </div>
   </div>
    
@section scripts{
    <script type="text/javascript" src="~/Scripts/index.js"></script>
}
